<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>secret page </title>
</head>

<body>
    {{>nav}}
    <h1>welcome, <strong>{{name}}</strong></h1>
    <h1>secret page </h1>
    <p>without token cannot be opened understand dude.</p>
</body>

</html>