<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>login now</title>
</head>

<body>
    {{>nav}}
    <h1>login kr le na be</h1>

    <form action="/signin" method="post">
        <label for="id"><input type="text" name="id"></label>
        <label for="password"><input type="password" name="password"></label>
        <button type="submit">Submit</button>

    </form>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt porro nostrum ullam optio corporis, perspiciatis
        tempora, libero saepe alias veniam dignissimos eligendi amet, modi rerum inventore earum perferendis explicabo
        debitis mollitia atque?</p>
</body>

</html>