<nav>
    <div><a href="/">Home</a></div>
    <div><a href="/signup">signup</a></div>
    <div><a href="/signout">signout</a></div>
    <div><a href="/secret">secret</a></div>
    <div><a href="/signin">signin</a></div>
</nav>